<%-include("partials/adminheader.ejs") %>

<h2>Enter the Event Details</h2>
<form action="/adminform" method="post">
  <!-- adding a hidden adminID input so that it will be easy for us to access the admin id and push the data -->
  <input type="hidden" name="adminId" value="<%= adminId[0].id %>" />
  <div>
    <label for="eventname">Event Name</label>
    <input type="text" class="form-control" name="eventname" />
  </div>
  <div>
    <label for="eventdetails">Event Details</label>
    <textarea name="eventdetails" id="event-details">
Enter the event Detail</textarea
    >
  </div>
  <div>
    <label for="eventdate">Event Date</label>
    <input type="date" class="form-control" name="eventdate" />
  </div>
  <div>
    <label for="eventtime">Event Time</label>
    <input type="text" class="form-control" name="eventtime" />
  </div>
  <div>
    <label for="eventvenue">Event Venue</label>
    <input type="text" name="eventvenue">
  </div>
  <div>
    <label for="eventbanner">Event Banner</label>
    <input type="file" class="form-control" name="eventbanner" />
  </div>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>

<%-include("partials/footer.ejs") %>
