<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Campus Connect</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <!-- <link href="style.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: KnightOne
  * Template URL: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">

      <a href="index.ejs" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Campus Connect</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Departments</a></li>
          <li><a href="/events">Events</a></li>
          <!-- <li><a href="#portfolio">Admin</a></li> -->
          <li><a href="portfolio-details.html">Student</a></li>
          <li><a href="/adminlogin" role="button">Admin</a></li>
          <li><a href="#contact">Contact</a></li>
          
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="cta-btn" href="login.html">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="assets/img/event2.jpg" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center text-center">
        <h2 data-aos="fade-up" data-aos-delay="100">Discover Your Campus, One Event at a Time.</h2>
        <p data-aos="fade-up" data-aos-delay="200">Created by students, for students.</p>
        <div data-aos="fade-up" data-aos-delay="300">
          <a href="https://youtu.be/jxv2Rjnrwdo?si=YoqCuQDFQ5iiJ2pZ" class="glightbox pulsating-play-btn"></a>
        </div>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>Your Campus, Your Events, Simplified.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p>
              Campus Connect is a cutting-edge, web-based platform dedicated to revolutionizing event management within educational institutions. Our mission is to create a centralized hub for all campus events, fostering a dynamic and engaging student experience.
              By consolidating event information into one accessible location, we streamline the planning process for faculty and staff while providing students with a comprehensive overview of campus activities. Our platform is designed to eliminate scheduling conflicts, maximize student participation, and enhance overall campus life.
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>Centralize event management: Easily create, edit, and publish event details.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Optimize scheduling: Avoid overlapping events and maximize attendance.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Boost student engagement: Increase student participation through clear visibility of events.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>Enhance campus community: Foster a vibrant campus culture by connecting students with relevant activities.</span></li>
            </ul>
          </div>

          <div class="col-lg-5 order-1 order-lg-2">
            <img src="assets/img/event.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Departments</h2>
      <p>Uniting departments, presenting some </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item  position-relative">
            <div class="icon">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <a href="https://pvppcoe.ac.in/department-information-technology/" class="stretched-link">
              <h3>Information Technology</h3>
            </a>
            <p>Focuses on managing and processing information using technology, covering areas like networking, cybersecurity, and databases, preparing students for IT infrastructure and data management roles.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <a href="https://pvppcoe.ac.in/department-computer-engineering/" class="stretched-link">
              <h3>Computer Engineering</h3>
            </a>
            <p>Focuses on software development, algorithms, and computer systems, preparing students for IT and software careers through programming and project-based learning.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <a href="https://pvppcoe.ac.in/department-artificial-intelligence-data-science/" class="stretched-link">
              <h3>AI & DS</h3>
            </a>
            <p>Develops intelligent agents that mimic human cognition. Focuses on machine learning, natural language processing, and computer vision.Extracts insights from large datasets. Combines statistics, programming, and domain knowledge. Builds predictive models and data-driven solutions</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <a href="https://pvppcoe.ac.in/#" class="stretched-link">
              <h3>Computer Science and Engineering(AI & ML)</h3>
            </a>
            <p>Combines electronic engineering with computer science. Develops electronic devices with computing capabilities.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <a href="https://pvppcoe.ac.in/#" class="stretched-link">
              <h3>Mechatronics Engineering</h3>
            </a>
            <p>Integrates mechanical, electrical, and computer engineering. Creates intelligent machines and systems.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon">
              <i class="bi bi-calendar-event-fill"></i>
            </div>
            <a href="https://pvppcoe.ac.in/#" class="stretched-link">
              <h3>Electronics and Computer Science</h3>
            </a>
            <p> Covers electronic devices and communication systems, preparing students for roles in telecommunications, embedded systems, and signal processing.</p>
          </div>
        </div><!-- End Service Item -->


      </div>

    </div>
  </section><!-- /Services Section -->

      <!-- Services Section -->
      <section id="services" class="services section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Community</h2>
          <p>Presenting our commities</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="service-item  position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <a href="https://itsa-pvppcoe.vercel.app/" class="stretched-link">
                  <h3>ITSA</h3>
                </a>
                <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <a href="https://cesa-vppcoe.vercel.app/" class="stretched-link">
                  <h3>CESA</h3>
                </a>
                <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>AI</h3>
                </a>
                <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>CESA AI & ML</h3>
                </a>
                <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                <a href="#" class="stretched-link"></a>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>MESA</h3>
                </a>
                <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="service-item position-relative">
                <div class="icon">
                  <i class="bi bi-calendar-event"></i>
                </div>
                <a href="#" class="stretched-link">
                  <h3>ECESA</h3>
                </a>
                <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              </div>
            </div><!-- End Service Item -->
  
  
          </div>
  
        </div>
      </section><!-- /Services Section -->

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/cta1-bg.jpg" alt="">

      <div class="container">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-9 text-center text-xl-start">
            <h3>Discover Events</h3>
            <p>Your campus, your passions. Discover events that ignite your spark</p>
          </div>
          <div class="col-xl-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="events.html">Discover Events</a>
          </div>
        </div>

      </div>

    </section><!-- /Call To Action Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <div class="container">

        <div class="row gy-4">

          <div class="features-image col-lg-6 order-lg-2" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/fab2.jpeg" alt=""></div>

          <div class="col-lg-6 order-lg-1">

            <div class="features-item d-flex ps-0 ps-lg-3 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-opencollective"></i>
              <div>
                <h4>Centralized Event Management</h4>
                <p>Easily create, edit, and manage campus events in one place.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-kanban"></i>
              <div>
                <h4>Student Engagement Boost</h4>
                <p>Discover new events, RSVP, and connect with fellow students. </p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-patch-check-fill"></i>
              <div>
                <h4>Conflict-Free Scheduling</h4>
                <p> Avoid scheduling clashes with intelligent event management.</p>
              </div>
            </div><!-- End Features Item-->

            <div class="features-item d-flex mt-5 ps-0 ps-lg-3" data-aos="fade-up" data-aos-delay="500">
              <i class="bi bi-phone"></i>
              <div>
                <h4>Mobile Optimization</h4>
                <p>Access and manage events on the go with our user-friendly app.</p>
              </div>
            </div><!-- End Features Item-->

          </div>

        </div>

      </div>

    </section><!-- /Features Section -->
    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <div class="container-fluid">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center order-2 order-lg-1">

            <div class="content px-xl-5" data-aos="fade-up" data-aos-delay="100">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p>
                Your one-stop destination for in-depth answers to all your campus-related queries.
              </p>
            </div>

            <div class="faq-container px-xl-5" data-aos="fade-up" data-aos-delay="200">

              <div class="faq-item faq-active">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>What is Campus Connect?</h3>
                <div class="faq-content">
                  <p>Campus Connect is a centralized platform designed to showcase events from all departments within a campus community. It serves as a one-stop destination for students, faculty, and staff to discover and participate in various activities and events.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>How does Campus Connect benefit students?</h3>
                <div class="faq-content">
                  <p>Campus Connect provides students with a comprehensive overview of campus events, enabling them to stay informed and engaged. They can easily discover events that align with their interests, hobbies, or academic pursuits, fostering a vibrant campus life.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3> How can departments utilize Campus Connect?</h3>
                <div class="faq-content">
                  <p> Departments can leverage Campus Connect to effectively promote their events to the entire campus community. By posting event details, including descriptions, dates, times, and locations, departments can increase attendance and engagement.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>

              </div><!-- End Faq item-->
              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3> Is Campus Connect accessible on mobile devices?</h3>
                <div class="faq-content">
                  <p>Yes, Campus Connect is designed to be user-friendly and accessible on various devices, including smartphones and tablets. This allows users to stay updated on events while on the go.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>

              </div><!-- End Faq item-->
              <div class="faq-item">
                <i class="faq-icon bi bi-question-circle"></i>
                <h3>How often is the platform updated with new events?</h3>
                <div class="faq-content">
                  <p> Campus Connect is regularly updated with new events as they are scheduled. We encourage departments to submit event details well in advance to ensure maximum visibility.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2">
            <img src="assets/img/faq1.jpg" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100">
          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Let's Connect and Collaborate</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Address</h3>
                <p> Vasantdada Patil Education Complex, Eastern Express Highway Near Everard Nagar, Chunabhatti, Sion, Mumbai, Maharashtra 400022</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p> 022 2084 7226</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p>vu4f2223035@pvppcoe.ac.in</p>
              </div>
            </div><!-- End Info Item -->

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>

    </section><!-- /Contact Section -->
  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Campus Connect</h3>
      <p>Your one stop campus hub</p>+
      <div class="social-links d-flex justify-content-center">
        <a href="https://x.com/nss_vppcoeva?mx=2"><i class="bi bi-twitter-x"></i></a>
        <a href="https://www.facebook.com/p/Padmabhushan-Vasantdada-Patil-College-Of-Engineering-Sion-Mumbai-100064033054848/"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/vasantdadapatilcollege/"><i class="bi bi-instagram"></i></a>
        <!-- <a href=""><i class="bi bi-skype"></i></a> -->
        <a href="https://www.linkedin.com/school/padmabhushan-vasantdada-patil-pratishthan's-college-of-engineering/?originalSubdomain=in"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Campus Connect</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="../public/script.js"></script>
</body>

</html>